@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-6sDLIx7S75L7_font-family: "Inter", sans-serif;
  --mixin-6sDLIx7S75L7_font-size: 16px;
  --mixin-6sDLIx7S75L7_font-weight: 400;
  --mixin-6sDLIx7S75L7_font-style: normal;
  --mixin-6sDLIx7S75L7_color: #535353;
  --mixin-6sDLIx7S75L7_text-align: left;
  --mixin-6sDLIx7S75L7_text-transform: none;
  --mixin-6sDLIx7S75L7_line-height: 1.5;
  --mixin-6sDLIx7S75L7_letter-spacing: normal;
  --mixin-6sDLIx7S75L7_white-space: pre-wrap;
  --mixin-6sDLIx7S75L7_user-select: text;
  --mixin-6sDLIx7S75L7_text-decoration-line: none;
  --mixin-6sDLIx7S75L7_text-overflow: clip;
  --mixin-x_J4Y-pgT4mI_color: #000000;
  --mixin-x_J4Y-pgT4mI_font-weight: 700;
  --mixin-x_J4Y-pgT4mI_font-size: 64px;
  --mixin-x_J4Y-pgT4mI_line-height: 1;
  --mixin-x_J4Y-pgT4mI_letter-spacing: -1px;
  --mixin-x_J4Y-pgT4mI_white-space: pre-wrap;
  --mixin-oPwbetI5Kh63_color: #000000;
  --mixin-oPwbetI5Kh63_font-size: 48px;
  --mixin-oPwbetI5Kh63_font-weight: 700;
  --mixin-oPwbetI5Kh63_letter-spacing: -0.5px;
  --mixin-oPwbetI5Kh63_line-height: 1.1;
  --mixin-oPwbetI5Kh63_white-space: pre-wrap;
  --mixin-ZK0B1C0-fFGs_color: #0070f3;
  --mixin-ZK0B1C0-fFGs_white-space: pre-wrap;
  --mixin-SP1FkF7PzmeV_color: #000000;
  --mixin-SP1FkF7PzmeV_font-size: 32px;
  --mixin-SP1FkF7PzmeV_font-weight: 600;
  --mixin-SP1FkF7PzmeV_line-height: 1.2;
  --mixin-SP1FkF7PzmeV_white-space: pre-wrap;
  --mixin--utBnYvrxmY-_color: #000000;
  --mixin--utBnYvrxmY-_font-size: 24px;
  --mixin--utBnYvrxmY-_font-weight: 600;
  --mixin--utBnYvrxmY-_line-height: 1.3;
  --mixin--utBnYvrxmY-_white-space: pre-wrap;
  --mixin-qokQ49aSaFV__background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-qokQ49aSaFV__border-bottom-color: #dddddd;
  --mixin-qokQ49aSaFV__border-bottom-style: solid;
  --mixin-qokQ49aSaFV__border-bottom-width: 1px;
  --mixin-qokQ49aSaFV__border-left-color: #dddddd;
  --mixin-qokQ49aSaFV__border-left-style: solid;
  --mixin-qokQ49aSaFV__border-left-width: 1px;
  --mixin-qokQ49aSaFV__border-right-color: #dddddd;
  --mixin-qokQ49aSaFV__border-right-style: solid;
  --mixin-qokQ49aSaFV__border-right-width: 1px;
  --mixin-qokQ49aSaFV__border-top-color: #dddddd;
  --mixin-qokQ49aSaFV__border-top-style: solid;
  --mixin-qokQ49aSaFV__border-top-width: 1px;
  --mixin-qokQ49aSaFV__border-bottom-left-radius: 3px;
  --mixin-qokQ49aSaFV__border-bottom-right-radius: 3px;
  --mixin-qokQ49aSaFV__border-top-left-radius: 3px;
  --mixin-qokQ49aSaFV__border-top-right-radius: 3px;
  --mixin-qokQ49aSaFV__font-family: "Inconsolata";
  --mixin-qokQ49aSaFV__padding-bottom: 1px;
  --mixin-qokQ49aSaFV__padding-left: 4px;
  --mixin-qokQ49aSaFV__padding-right: 4px;
  --mixin-qokQ49aSaFV__padding-top: 1px;
  --mixin-qokQ49aSaFV__white-space: pre-wrap;
  --mixin-oV2LBDWAwN7w_border-left-color: #dddddd;
  --mixin-oV2LBDWAwN7w_border-left-style: solid;
  --mixin-oV2LBDWAwN7w_border-left-width: 3px;
  --mixin-oV2LBDWAwN7w_color: #888888;
  --mixin-oV2LBDWAwN7w_padding-left: 10px;
  --mixin-oV2LBDWAwN7w_white-space: pre-wrap;
  --mixin-667f2UcTD6UL_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-667f2UcTD6UL_border-bottom-color: #dddddd;
  --mixin-667f2UcTD6UL_border-bottom-style: solid;
  --mixin-667f2UcTD6UL_border-bottom-width: 1px;
  --mixin-667f2UcTD6UL_border-left-color: #dddddd;
  --mixin-667f2UcTD6UL_border-left-style: solid;
  --mixin-667f2UcTD6UL_border-left-width: 1px;
  --mixin-667f2UcTD6UL_border-right-color: #dddddd;
  --mixin-667f2UcTD6UL_border-right-style: solid;
  --mixin-667f2UcTD6UL_border-right-width: 1px;
  --mixin-667f2UcTD6UL_border-top-color: #dddddd;
  --mixin-667f2UcTD6UL_border-top-style: solid;
  --mixin-667f2UcTD6UL_border-top-width: 1px;
  --mixin-667f2UcTD6UL_border-bottom-left-radius: 3px;
  --mixin-667f2UcTD6UL_border-bottom-right-radius: 3px;
  --mixin-667f2UcTD6UL_border-top-left-radius: 3px;
  --mixin-667f2UcTD6UL_border-top-right-radius: 3px;
  --mixin-667f2UcTD6UL_font-family: "Inconsolata";
  --mixin-667f2UcTD6UL_padding-bottom: 3px;
  --mixin-667f2UcTD6UL_padding-left: 6px;
  --mixin-667f2UcTD6UL_padding-right: 6px;
  --mixin-667f2UcTD6UL_padding-top: 3px;
  --mixin-667f2UcTD6UL_white-space: pre-wrap;
  --mixin-Paf_vAcOllWd_display: flex;
  --mixin-Paf_vAcOllWd_flex-direction: column;
  --mixin-Paf_vAcOllWd_align-items: stretch;
  --mixin-Paf_vAcOllWd_justify-content: flex-start;
  --mixin-Paf_vAcOllWd_list-style-position: outside;
  --mixin-Paf_vAcOllWd_padding-left: 40px;
  --mixin-Paf_vAcOllWd_position: relative;
  --mixin-Paf_vAcOllWd_list-style-type: disc;
  --mixin-Paf_vAcOllWd_white-space: pre-wrap;
  --mixin-IfpTTVcER_I6_display: flex;
  --mixin-IfpTTVcER_I6_flex-direction: column;
  --mixin-IfpTTVcER_I6_align-items: stretch;
  --mixin-IfpTTVcER_I6_justify-content: flex-start;
  --mixin-IfpTTVcER_I6_list-style-position: outside;
  --mixin-IfpTTVcER_I6_padding-left: 40px;
  --mixin-IfpTTVcER_I6_position: relative;
  --mixin-IfpTTVcER_I6_list-style-type: decimal;
  --mixin-IfpTTVcER_I6_white-space: pre-wrap;
  --mixin-MncDpFAJ48-j_color: #000000;
  --mixin-MncDpFAJ48-j_font-size: 20px;
  --mixin-MncDpFAJ48-j_font-weight: 600;
  --mixin-MncDpFAJ48-j_line-height: 1.5;
  --mixin-MncDpFAJ48-j_white-space: pre-wrap;
  --mixin-vukUJ2NpRElS_color: #000000;
  --mixin-vukUJ2NpRElS_font-size: 16px;
  --mixin-vukUJ2NpRElS_font-weight: 600;
  --mixin-vukUJ2NpRElS_line-height: 1.5;
  --mixin-vukUJ2NpRElS_white-space: pre-wrap;
  --mixin-VCqjG9Vmk52i_color: #3291ff;
  --mixin-VCqjG9Vmk52i_white-space: pre-wrap;
  --mixin-kLr85JDD6i3b_white-space: pre-wrap;
  --mixin-vQJX8_CtS2k4_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-6sDLIx7S75L7_font-family);
  font-size: var(--mixin-6sDLIx7S75L7_font-size);
  font-weight: var(--mixin-6sDLIx7S75L7_font-weight);
  font-style: var(--mixin-6sDLIx7S75L7_font-style);
  color: var(--mixin-6sDLIx7S75L7_color);
  text-align: var(--mixin-6sDLIx7S75L7_text-align);
  text-transform: var(--mixin-6sDLIx7S75L7_text-transform);
  line-height: var(--mixin-6sDLIx7S75L7_line-height);
  letter-spacing: var(--mixin-6sDLIx7S75L7_letter-spacing);
  white-space: var(--mixin-6sDLIx7S75L7_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-x_J4Y-pgT4mI_color);
  font-weight: var(--mixin-x_J4Y-pgT4mI_font-weight);
  font-size: var(--mixin-x_J4Y-pgT4mI_font-size);
  line-height: var(--mixin-x_J4Y-pgT4mI_line-height);
  letter-spacing: var(--mixin-x_J4Y-pgT4mI_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-oPwbetI5Kh63_color);
  font-size: var(--mixin-oPwbetI5Kh63_font-size);
  font-weight: var(--mixin-oPwbetI5Kh63_font-weight);
  letter-spacing: var(--mixin-oPwbetI5Kh63_letter-spacing);
  line-height: var(--mixin-oPwbetI5Kh63_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-ZK0B1C0-fFGs_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-SP1FkF7PzmeV_color);
  font-size: var(--mixin-SP1FkF7PzmeV_font-size);
  font-weight: var(--mixin-SP1FkF7PzmeV_font-weight);
  line-height: var(--mixin-SP1FkF7PzmeV_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin--utBnYvrxmY-_color);
  font-size: var(--mixin--utBnYvrxmY-_font-size);
  font-weight: var(--mixin--utBnYvrxmY-_font-weight);
  line-height: var(--mixin--utBnYvrxmY-_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-qokQ49aSaFV__font-family);
  border-radius: var(--mixin-qokQ49aSaFV__border-top-left-radius)
    var(--mixin-qokQ49aSaFV__border-top-right-radius)
    var(--mixin-qokQ49aSaFV__border-bottom-right-radius)
    var(--mixin-qokQ49aSaFV__border-bottom-left-radius);
  padding: var(--mixin-qokQ49aSaFV__padding-top)
    var(--mixin-qokQ49aSaFV__padding-right)
    var(--mixin-qokQ49aSaFV__padding-bottom)
    var(--mixin-qokQ49aSaFV__padding-left);
  border-top: var(--mixin-qokQ49aSaFV__border-top-width)
    var(--mixin-qokQ49aSaFV__border-top-style)
    var(--mixin-qokQ49aSaFV__border-top-color);
  border-right: var(--mixin-qokQ49aSaFV__border-right-width)
    var(--mixin-qokQ49aSaFV__border-right-style)
    var(--mixin-qokQ49aSaFV__border-right-color);
  border-bottom: var(--mixin-qokQ49aSaFV__border-bottom-width)
    var(--mixin-qokQ49aSaFV__border-bottom-style)
    var(--mixin-qokQ49aSaFV__border-bottom-color);
  border-left: var(--mixin-qokQ49aSaFV__border-left-width)
    var(--mixin-qokQ49aSaFV__border-left-style)
    var(--mixin-qokQ49aSaFV__border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-oV2LBDWAwN7w_color);
  padding-left: var(--mixin-oV2LBDWAwN7w_padding-left);
  border-left: var(--mixin-oV2LBDWAwN7w_border-left-width)
    var(--mixin-oV2LBDWAwN7w_border-left-style)
    var(--mixin-oV2LBDWAwN7w_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-667f2UcTD6UL_font-family);
  border-radius: var(--mixin-667f2UcTD6UL_border-top-left-radius)
    var(--mixin-667f2UcTD6UL_border-top-right-radius)
    var(--mixin-667f2UcTD6UL_border-bottom-right-radius)
    var(--mixin-667f2UcTD6UL_border-bottom-left-radius);
  padding: var(--mixin-667f2UcTD6UL_padding-top)
    var(--mixin-667f2UcTD6UL_padding-right)
    var(--mixin-667f2UcTD6UL_padding-bottom)
    var(--mixin-667f2UcTD6UL_padding-left);
  border-top: var(--mixin-667f2UcTD6UL_border-top-width)
    var(--mixin-667f2UcTD6UL_border-top-style)
    var(--mixin-667f2UcTD6UL_border-top-color);
  border-right: var(--mixin-667f2UcTD6UL_border-right-width)
    var(--mixin-667f2UcTD6UL_border-right-style)
    var(--mixin-667f2UcTD6UL_border-right-color);
  border-bottom: var(--mixin-667f2UcTD6UL_border-bottom-width)
    var(--mixin-667f2UcTD6UL_border-bottom-style)
    var(--mixin-667f2UcTD6UL_border-bottom-color);
  border-left: var(--mixin-667f2UcTD6UL_border-left-width)
    var(--mixin-667f2UcTD6UL_border-left-style)
    var(--mixin-667f2UcTD6UL_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-Paf_vAcOllWd_display);
  flex-direction: var(--mixin-Paf_vAcOllWd_flex-direction);
  align-items: var(--mixin-Paf_vAcOllWd_align-items);
  justify-content: var(--mixin-Paf_vAcOllWd_justify-content);
  list-style-position: var(--mixin-Paf_vAcOllWd_list-style-position);
  padding-left: var(--mixin-Paf_vAcOllWd_padding-left);
  position: var(--mixin-Paf_vAcOllWd_position);
  list-style-type: var(--mixin-Paf_vAcOllWd_list-style-type);
  flex-column-gap: var(--mixin-Paf_vAcOllWd_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-IfpTTVcER_I6_display);
  flex-direction: var(--mixin-IfpTTVcER_I6_flex-direction);
  align-items: var(--mixin-IfpTTVcER_I6_align-items);
  justify-content: var(--mixin-IfpTTVcER_I6_justify-content);
  list-style-position: var(--mixin-IfpTTVcER_I6_list-style-position);
  padding-left: var(--mixin-IfpTTVcER_I6_padding-left);
  position: var(--mixin-IfpTTVcER_I6_position);
  list-style-type: var(--mixin-IfpTTVcER_I6_list-style-type);
  flex-column-gap: var(--mixin-IfpTTVcER_I6_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-MncDpFAJ48-j_color);
  font-size: var(--mixin-MncDpFAJ48-j_font-size);
  font-weight: var(--mixin-MncDpFAJ48-j_font-weight);
  line-height: var(--mixin-MncDpFAJ48-j_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-vukUJ2NpRElS_color);
  font-size: var(--mixin-vukUJ2NpRElS_font-size);
  font-weight: var(--mixin-vukUJ2NpRElS_font-weight);
  line-height: var(--mixin-vukUJ2NpRElS_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-VCqjG9Vmk52i_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
